
.about-container { 
    background-color: #343436;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
    margin-top:50px;
    padding: 60px;
    font-size: 18px;
    font-size: 15px;
}

.about-title {
    text-align: center;
    opacity: 70%;
    font-size: 10px;
    padding: 10px;
}

.about-text {
    font-size: 20px;
}

.contact-form {
    margin-bottom: 100px;
}