
.account-box {
    align-items: center;
    text-align: center;
 
    background :transparent;

    color: #ffff;
    padding: 30px 40px;
    border-radius: 10px;
    margin-bottom: 270px; 


}

.account-title {
    margin: 30px;
    text-align: center;
}

.account-box .btn{
    width: 300px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    color:#333;
    margin-bottom: 10px;
    }

.account-info {
    padding-bottom: 30px;
}



