.custom-dropdown .dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;  
    scrollbar-width: thin; 
  }

.picks-page {
  background-color: #17141d; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-bottom: 20px;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container-fluid {
  min-height: 100%; 
}