.custom-dropdown .dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;  
    scrollbar-width: thin; 
  }

.picks-page {
  background-color: #17141d; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding-bottom: 20px;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container-fluid {
  min-height: 100%; 
}

.graph-container {
  display: flex; /* Utilise Flexbox pour aligner les éléments sur une ligne */
  gap: 20px; /* Ajoute un espace entre les graphiques */
  justify-content: center; /* Centre les graphiques horizontalement */
  margin: 20px 0; /* Ajoute un peu de marge autour du conteneur */
}

.graph-item {
  flex: 1; /* Permet aux graphiques de prendre une taille égale */
  max-width: 50%; /* Limite la largeur de chaque graphique pour éviter qu'ils ne soient trop grands */
}